<div class="container">
    <div class="row">
        <br>
        <div class="col s12 m6 center-align">
            <div class="row">
                <div class="col s12">
                    <img src="images/author.jpg" alt="Lascario Pacheco" class="responsive-img light-borders">
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <h5>Acerca del Autor</h5>
            <p class="left-align">Lascario Pacheco es un desarrollador web front-end, profesor de la Universidad Rafael Urdaneta y amante de los videojuegos y el té negro con limón. Se caracteriza por regalar artefactos útiles a la hora de realizar un obsequio, razón por la cual puedes apreciar este texto.</p>
            <p class="left-align">Este proyecto, llamado <span class="orange-text">Arcade Station</span> nace del interés del autor por el desarrollo de videojuegos empleando los lenguajes web, y tratando de hacer frente a las limitaciones de este entorno. Esta curiosidad se materializó como un regalo para <span class="orange-text">Verónica Corena</span> en el tercer aniversario de noviazgo con el autor (¡Te amo!)</p>
            <p class="center-align">Código gratis por visitar la sección del Autor: <b>12839791283712</b></p>
        </div>
    </div>
</div>