<br>
<div class="row">
    <div class="col s8">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5>El Criptógrafo</h5>
                </div>
            </div>

            <div class="row">
                <form class="col s12">
                    <div class="row">
                    <div class="input-field col s12">
                        <input id="passwordInput" type="text">
                        <label for="passwordInput">Clave</label>
                    </div>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea name="" id="encryptedTextarea" cols="30" rows="10" class="materialize-textarea"></textarea>
                            <label for="encryptedTextarea">Mensaje encriptado</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <div class="row center">
                        <a id="decodeButton" class="waves-effect waves-light btn orange"><i class="material-icons">swap_vert</i></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <h5>Mensaje Desencriptado</h5>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea name="" id="decryptedTextarea" cols="30" rows="30" class="materialize-textarea"></textarea>
                            <label for="decryptedTextarea">Mensaje desencriptado</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s4">
        <h5>Acerca del Criptógrafo</h5>
        <p>Sólo debes escribir la <span class="orange-text">clave</span> que ganaste en los juegos acompañada del <span class="orange-text">mensaje encriptado</span> que recibiste de alguno de tus contactos. Si tienes la combinación <span class="orange-text">clave/mensaje</span> correcta, podrás ver un mensaje que tenga sentido; si no, <span class="red-text text-red-accent-4">sólo verás datos basura</span>.</p>
        <p>Ten presente que algunos videojuegos sólo están activos por tiempo limitado, así que mantente alerta con los mensajes que recibirás a lo largo de la semana.</p>
        <p><b>¡Mucho éxito en los juegos!</b></p>
        <img src="images/wizard.png" alt="El Criptógrafo ha desaparecido... Por ahora." class="responsive-img">
    </div>
</div>