<div class="section no-pad-bot" id="index-banner">
    <div class="container widen">
    <br><br>
    <h1 class="center orange-text">¡Bienvenido a Arcade Station!</h1>
    <h5 class="center col s12 light">Escoge un reto de la parte inferior y trata de desencriptar las cartas</h5>
    <br><br>

    </div>
</div>


<div class="container">
    <div class="section">
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/btnmasher.jpg">
                </div>
                <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">¡Alimenta al Input!<i class="material-icons right">more_vert</i></span>
                <p><a href="#buttonmash" class="orange-text">Jugar</a></p>
                </div>
                <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">¡Alimenta al Input!<i class="material-icons right">close</i></span>
                <p>¡Un juego sobre destrozar tu teclado en un frenesí de botones!</p>
                <p class="center-align"><a href="#buttonmash" class="orange-text">Jugar</a></p>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/nimgame.jpg">
                </div>
                <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Juego de Nim (Lite)<i class="material-icons right">more_vert</i></span>
                <p><a href="#nimgame" class="orange-text">Jugar</a></p>
                </div>
                <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Juego de Nim (Lite)<i class="material-icons right">close</i></span>
                <p>Un juego de estrategia donde deberás dejar que tu oponente recoja el último fósforo.</p>
                <p class="center-align"><a href="#nimgame" class="orange-text">Jugar</a></p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="section">

    <!--   Icon Section   -->
    <div class="row">
        <div class="col s12 m4">
        <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">stars</i></h2>
            <h5 class="center">Selecciona un juego</h5>

            <p class="light">Escoge un juego de la parte superior y trata de ganarlo. Si lo haces, obtendrás una <span class="orange-text">clave</span>.</p>
        </div>
        </div>

        <div class="col s12 m4">
        <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">swap_horiz</i></h2>
            <h5 class="center">Habla con el Criptógrafo</h5>

            <p class="light">Entrégale la <span class="orange-text">clave</span> que recibiste en la etapa anterior y algún <span class="orange-text">mensaje encriptado</span>. Con algo de suerte podrá desencriptar el mensaje sin problemas.</p>
        </div>
        </div>

        <div class="col s12 m4">
        <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">visibility</i></h2>
            <h5 class="center">Disfruta del mensaje</h5>

            <p class="light">Lee el mensaje que el criptógrafo haya traducido para ti. Si una combinación carta/clave no funciona, ¡prueba otra! Recuerda que una <span class="orange-text">clave puede funcionar para más de una carta</span>. Ten presente que algunos juegos tienen una cantidad tope de intentos, así que haz lo mejor que puedas.</p>
        </div>
        </div>
    </div>

    </div>
    <br><br>
</div>